@use "uswds-core" as *;

// Add any USWDS overrides here
// Alternatively, you could create an overrides folder and create individual override files

// custom tts color
$tts-tagline-bg: #1F303E;

// USWDS Hero component
.usa-hero--tts {
  height: 10rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size:  cover;
  padding:  0;
  @include at-media('mobile-lg') {
    // This shifts the hero over to the right so that most of the background image isn't covered by the tagline. The left side of the hero image will not line up perfectly with the right side of the tagline, since the widths of both elements will vary depending on screen width. A bit of overlap on this edge will prevent empty space between the two.
    position:  absolute;
    left:40%;
    height:100%;
    width: 60%;
  }
}

h2, h3, h4, h5 {
  font-family: Merriweather Web, Georgia, Cambria, Times New Roman, Times,serif;
}

.tts-hero-wrap {
  background: url('../_img/TTS_Header_Dev.png');
  background-size: cover;

}

.tts-hero-people img {
  object-fit: contain;
}

.tts-hero-wrap {
  background-color: $tts-tagline-bg;
}

.tts-tagline {
  @include at-media('mobile-lg') {
    // Setting a min height so that the hero height doesn't need to rely on tagline length
    min-height: 350px;
  }
}

// Services pages
.service .usa-card__container {
  border-radius: 0;
}

.service .usa-card__img {
  background-color: unset;
}

.usa-prose .usa-card {
  margin-bottom: 1rem;
}

.service .usa-card__media {
  min-height: unset;
}

.usa-prose p {
    max-width: unset;
}

footer {
    a {
      color: color('base-lightest');
      text-decoration: none;

    }
    a:hover {
      text-decoration: underline;
    }
}

.usa-social-link img {
  width: 100%;
}

.tts-service-logo {
  height: 50px;
    img {
      object-fit: contain;
      max-width: 180px;
    }
}

.tts-title-banner {
  background: url(../_img/Services_Background.png) center no-repeat #000000;
}


.tts-title-banner  h1 {
  font-size: 3.25rem;
  color: #ffffff;
  padding: 4.75rem 0;
  margin: 0;
  text-align: center;
}


.usa-identifier__logos img {
  width: 2.5rem;
  height: 2.5rem;
}

.usa-prose .usa-card:last-child {
  margin-bottom: 1rem;
}

.service_active {
  border-color: #005ea2;
}

.usa-footer__secondary-section {
  a {
    text-decoration: underline;
  }
}

.usa-alert-info.job-info {
  background-image: url(../_img/info.svg), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-color: #e7f6f8;
  color: #1b1b1b;
  border-left: 0.5rem solid #00bde3;
  font-size: 1.06rem;
  line-height: 1.5;
  background-position: 1.75rem 1rem;
  background-size: 2.5rem;
  padding-bottom: .25rem;
  padding-left: 1.75rem;
  padding-right: 1.25rem;
  padding-top: .1rem;
  position: relative;
}

.job-info .usa-alert-body {
  padding-left: 3em;
}

aside.in-page-nav {
  position: sticky;
  top: 2rem;
  margin-top: 2rem;

  h1 {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 0;
    padding: 0;
  }

  ul {
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    border-left: 1px solid rgba(27, 27, 27, 0.25);
    padding: 0;

    li {
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 1.2;
      border: none;
      font-weight: bold;
      position: relative;
      box-sizing: inherit;
      padding: 0.5rem 1rem;

      a {
        color: #005ea2;

        text-decoration: none;
      }
    }
  }
}